<h2>New Pull Request at __reponame__</h2>
<p>A repository monitored by the Continuous Integration server has just
detected a new pull request for:</p>
<p>
  <h3><a href="__repourl__">__reponame__</a> <a href="__pullurl__">#__pullnum__</a></h3>
  __repodesc__
</p>
<p>
The git initialization has succeeded in the local directory:
"__repodir__",
and the following unit tests have started running:</p>
__test_html__
<p>If you have any questions, please contact the owner of the repository:</p>
<p>
  <a href="__userurl__">__username__</a><br />
  <a href="mailto:__useremail">__useremail__</a>
</p>
<p>
Kind Regards,<br />
CI Bot
</p>
